body{
    margin: 0;
    padding: 0;
    background: url(../picture/2.png);
    flex: 100%;
    /* background-repeat: no-repeat; */
    /* background: 100%; */
    background-size: cover;
}
#bigbox{
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px 50px;
    background-color: #00000000;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}
#bigbox h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#bigbox .inputbox{
    margin-top: 50px;
}
#bigbox .inputbox .inputtext{
    margin-top: 20px;
}
#bigbox .inputtext{
    /* transform: translate(-50%,-50%); */
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    overflow: hidden;
}
#bigbox .inputtext::before{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0%;
    height: 2px;
    background: linear-gradient(to right, white, #1abc9c, #f1c40f, #e74c3c, white);
    transform: translateX(100%);
    transition:3s;
}
#bigbox .inputtext:hover::before{
    transform: translateX(-100%);
    /* border: 0;
    padding: 10px 10px; */
    border-bottom: 1px solid white;
    background-color: #00000000;
    color: rgb(197, 1, 1);
}
#bigbox .inputbox .inputtext input{
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid white;
    background-color: #00000000;
    color: white;
    outline: none;
}

#bigbox .inputbox .inputButton{
    border: 0;
    width: 150px;
    height: 25px;
    color: white;
    margin-top: 30px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}